name: Validate

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  workflow_call:

permissions: {}

jobs:
  hassfest: 
    name: "Hassfest Validation"
    runs-on: "ubuntu-latest"
    steps:
      - name: "Run hassfest validation"
        uses: "home-assistant/actions/hassfest@master"
      - name: "Checkout the repository"
        uses: "actions/checkout@v6"


  validate-hacs:
    runs-on: "ubuntu-latest"
    steps:
      - name: HACS validation
        uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: "brands"
      - name: "Checkout the repository"
        uses: "actions/checkout@v6"
